[project]
name = "shared"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Jamie McCann", email = "jamie.mccann@umu.se" }
]
requires-python = ">=3.13"
dependencies = [
    "duckdb>=1.2.0",
]

[project.scripts]
shared = "shared:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
