services:
  api:
    image: plantgenie-api:local-latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pg-local-fastapi
    command: ["fastapi", "dev", "/app/src/plantgenie_api/main.py", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - "${HOST_DATA_DIR}:/opt/pg-application-data:rw"
      - ".env.shared:/app/.env.shared:ro"
    depends_on:
      - rabbitmq
      - redis
    networks:
      - plantgenie_network

  celery_worker:
    build:
      context: .
      dockerfile: packages/task-queue/Dockerfile
    image: pg-task-queue:local-latest
    container_name: pg-local-celery
    command: ["celery", "-A", "task_queue.celery.app", "worker", "--loglevel=debug"]
    env_file:
      - .env.shared
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - "${HOST_DATA_DIR}:/opt/pg-application-data:rw"
    depends_on:
      - rabbitmq
      - redis
    networks:
      - plantgenie_network

  rabbitmq:
    image: rabbitmq:4.2-management # an ubuntu image base
    container_name: pg-local-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"  # RabbitMQ management console port
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - plantgenie_network

  redis:
    image: redis:8.4-bookworm
    container_name: pg-local-redis
    ports:
      - "6379:6379"
    networks:
      - plantgenie_network

networks:
  plantgenie_network:
    driver: bridge
